.footer {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;

  width: 100%;
  margin: auto;
}
  
  .contact-info {
    margin-bottom: 10px;
  }
  
  .social-media-links a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .privacy-policy-terms a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
  }
  