.login-container {
    max-width: 400px;
    /* margin: 0 auto; */
    margin-top: 11%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .submit-button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .signup-link p {
    text-align: center;
  }
  
  .social-login a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    background-color: #db4437;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .google-login:hover {
    background-color: #c1351d;
  }
  
  .forgot-password a {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  